$black: #000;
$white: #fff;
$red-orange: #f73434;
$red-dark: #cc2929;
$royal-blue: #335dd8;
$default: #333333;
$primary: #1c88c8;
$primary-dark: #00446a;
$primary-very-dark: #05446a;
$primary-dim: #5d678b;
$primary-dim-icon: #8693ad;
$secondary: #f4f7fa;
$border-default: #e8e8e8;
$border-transparent: rgba($white, 0.4);
$table-header: #f7f7f7;
$accordion-button-background: $table-header;
$form-control-background: $secondary;
$form-control-disabled-background: #f0f0f0;
$form-control-disabled-color: rgba($default, 0.5);
$form-control-placeholder-color: $primary-dim-icon;
$switch-off-background: #eaf0fa;
$switch-on-background: #2ab296;
$thumbnail-background: #00afd5;
$home-side-navigation-active-background: $switch-off-background;
$snow: #fafafa;
$heather: #b1b6ba;
$suva-grey: #939393;
$light-sky-blue: #89d8f8;
$light-sky-blue2: #80d0ff;
$outrageous-orange: #ef5538;
$dim-grey: #666666;
$rock-blue: #8b9bbb;
$pelorous: #1c88c8;
$ghost-white: #f8f8ff;
$text-blue: #008eb1;
$black-2: #3c3c3e;
$blue: #1272bc;
$grey: #4e575f;
$cool-grey: #77787b;
$light-grey: #f0f3f5;
$dark-grey: #212529;
$secondary-1: #00a0dd;
$secondary-2: #003051;
$outline: #aab2b8;

:root {
  --black: #000;
  --white: #fff;
  --primary: #1c88c8;
  --secondary: #f4f7fa;
  --primary-dark: #00446a;
  --primary-very-dark: #05446a;
  --default: #333333;
  --primary-dim: #5d678b;
  --text-blue: #008eb1;
  --border-default: #e8e8e8;
  --black-loading-background: rgba(0, 0, 0, 0.4);
  --primary-dim-icon: #8693ad;
  --snow: #fafafa;
  --switch-off-background: #eaf0fa;
  --blue-tree-node-selected: #6db5d2;
  --table-header: #f7f7f7;
  --black-2: #3c3c3e;
  --blue: #1272bc;
  --grey: #4e575f;
  --cool-grey: #77787b;
  --light-grey: #f0f3f5;
  --dark-grey: #212529;
  --secondary-1: #00a0dd;
  --secondary-2: #003051;
  --outline: #aab2b8;
}
