<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_6522_1504)">
    <path
      d="M1.58105 6.99915L4.58105 3.99915L1.58105 0.999146"
      stroke="#77787B"
      stroke-width="1.4"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
  <defs>
    <clipPath id="clip0_6522_1504">
      <rect
        width="7.979"
        height="4.69"
        fill="white"
        transform="translate(0.59082 7.98926) rotate(-90)"
      />
    </clipPath>
  </defs>
</svg>
